body {
    margin: 0;
    box-sizing: border-box;
    background-color: #d3d3d3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.adding {
    height: auto;
    min-height: 300px;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    gap: 100px;
    padding: 10px;

}

.addCard {
    width: 568px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 6px;
}


input {
    height: 20px;
    width: 292px;
}
.input1 {
    height: 26px;
    width: 450px;
}
.input2 {
    width: 325px;
}
.input3 {
    width: 457px;
}
.input4 {
    width: 434px;
}
.input5 {
    height: 22px;
    width: 330px;
}
button {
    height: 30px;
}
.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.submit, .reset {
    border: 0;
    font-size: large;
    color: whitesmoke;
}
.submit {
    background-color: #dc143c;
    width: 65%;
}
.reset {
    background-color: #332E31;
    width: 35%;
}


.newCard {
    width: 350px;
    height: 190px;
    background-color: whitesmoke;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 3px 0 dimgray;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.el1 {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background-color: tomato; */
}
.el2 {
    justify-self: end;
}
.el3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-size: xx-large;
    /* background-color: turquoise; */
}
.el4 {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background-color: wheat; */
}
.el5 {
    justify-self: end;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    box-sizing: border-box;
    padding: 30px;
    gap: 30px;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}